body{
	margin: 0;
    padding: 0;
}

/* footer */
#footer {
    border-top: 1px #e4e4e4 solid;
    border-top-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    background-color: #fff;
}
#push, #footer {
    height: 50px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}


/* user list arrow */
table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png") !important;
}
table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png") !important;
}


/* user fa */
.fa{
	color: #000;
}

select {
    width: 207px;
	height: 36px;
}

label {
    margin-top: .4rem;
    margin-bottom: 0rem !important;
}

button, input, select, textarea{
	padding: 5px;
}

label {
    font-size: 14px;
}

select.selectpicker {
    height: 36px;
}



